<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Products</title>
</head>
<body>
  <!-- THIS IS A DUPLICATE OF INDEX>HTML -->
  <table>
    <tr>
      <th>Product</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    <tr>
      {% for product in products %}
      <td>{product.product_name}</td>
      <td>{product.product_description}</td>
      <td>{product.product_price}</td>
      <td><a href="products/show.html">Show</a></td>
      <td><a href="products/edit.html">Edit</a></td>
      <td><a href="products/destroy">Remove</a></td>
      {% endfor %}
    </tr>
  </table>
</body>
</html>
